body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  padding: 1em;
  }
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-inline: auto;
  border-radius: 8px; 
  }
nav {
  display: flex;
  margin-bottom: 1.5em;
  border-bottom: 1px solid oklch(80% 3% 200);
  }
nav a {
  flex: 1; 
  text-decoration: none;
  color: inherit;
  text-align: center;         
  padding: 0.5em;
  }
nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200); /* 灰色底边线 */
  padding-bottom: calc(0.5em - 0.4em); /* 抵消边框增加的高度 */
  font-weight: bold; /* 当前页文字加粗 */
}
  